.anime-data {
  margin-top: 5px;
}

#anime-name {
  font-size: 20px;
  font-weight: 600;
}

#anime-character {
  font-size: 20px;
  font-weight: 600;
}

#anime.quote {
  font-size: 14px;
  font-weight: 600;
  background-color: rgb(242, 172, 66);
}

.card {
  padding: 10px;
  background-color: blanchedalmond;
  border: 1px solid;
  border-color: bisque;
}
